{
    "popups":[
        {
            "scene":"MSDKPolicy",
            "scene_type":0,
            "pop_type":2,
            "uri":"popup/MSDKPopup_0_2_2_f2e8f5050690e378955d1278b331cfb2.html",
            "content_type":2,
            "sig":"f2e8f5050690e378955d1278b331cfb2",
            "pop_freq":1,
            "priority":100,
            "publish_time":1654480507,
            "valid_time":0,
            "expire_time":0,
            "native_style":"{\"positive_button_name\":\"同意\",\"negative_button_name\":\"不同意\"}"
        },
        {
            "scene":"MSDKPolicy_Permission",
            "scene_type":0,
            "pop_type":2,
            "uri":"popup/MSDKPopup_0_2_2_0bba847357668ad690aef018a6771fa6.html",
            "content_type":2,
            "sig":"0bba847357668ad690aef018a6771fa6",
            "pop_freq":1,
            "priority":99,
            "publish_time":1654480507,
            "valid_time":0,
            "expire_time":0,
            "native_style":"{\"positive_button_name\":\"确定\"}"
        },
    ]
}
