# ====================================================================
# Android & Gradle Build Artifacts
# ====================================================================
.gradle/
build/
app/build/
**/build/
.gradle-build-id
daemon/

# Android binaries
*.apk
*.ap_
*.aab
*.dex
*.class
*.aar
*.bundle
*.apk.idsig

# Native, NDK, C++ & CMake Build Outputs
.cxx/
app/.cxx/
**/.cxx/
.externalNativeBuild/
app/.externalNativeBuild/
obj/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
*.cmake
compile_commands.json
.ninja_deps
.ninja_log
*.ninja

# Local Configuration, Keys, Properties & Secrets
local.properties
*.local.properties
secrets.properties
gradle.properties.private
keystore.properties
signing.properties
*.keystore
*.jks

# IDE & Editor files
.idea/
.vscode/
*.iml
.DS_Store
captures/

# JaCoCo Code Coverage & ProGuard / R8 Dumps
*.exec
*.ec
**/jacoco/
*.prof
*.profm
**/proguard/
**/mapping/
mapping.txt
seeds.txt
usage.txt
dump.txt

# Native libs and shizuku runtime exceptions
!**/src/main/jniLibs/**/*.so
!**/assets/shizuku/*.dex
!*rish_shizuku.dex
