# GameBooster 2026 Config File
LifestealBoost=10000
LifestealPercent=100
LifestealMultiplier=100.0
PhysicalLifesteal=10000
MagicLifesteal=10000
SpellVampBoost=10000
SpellVampPercent=100
OmniVamp=10000
OmniVampBoost=10000
AlucardLifesteal=10000
AlucardOmniVamp=10000
AlucardLifestealMax=1
HPRegenRate=10000
HPRegenBoost=10000
PassiveHPRegen=10000
InstantHealOnHit=10000
AntiHealBypass=1
AntiHealImmunity=1
LifestealCoefficient=10.0
SpellVampCoefficient=10.0
LifeStealRate=10.0
LifeStealMax=1.0
HealEfficiency=10.0
